Trabalho Data Science - Análise Exploratória do Dataset de Receitas da Prefeitura Municipal de Curitiba

Alunos: Igor Cristian Gomes Mucharski - Raphael Marangoni - Vinicius Lisboa

--------------------------------------------------------------------------------

Vamos iniciar importando o pandas e clonando o repositório do Github com os datasets

In [ ]:
import pandas as pd

%matplotlib inline

In [ ]:
!git clone https://github.com/up-uppers/data-science-trabalho.git

Cloning into 'data-science-trabalho'...
remote: Enumerating objects: 33, done.
remote: Counting objects: 100% (33/33), done.
remote: Compressing objects: 100% (22/22), done.
remote: Total 33 (delta 7), reused 14 (delta 4), pack-reused 0
Unpacking objects: 100% (33/33), done.

Agora, vamos ler os dados do dataset

In [ ]:
dataset = pd.read_csv('data-science-trabalho/datasets/2022-10-01_Receitas_-_Base_de_Dados.csv', on_bad_lines='skip', delimiter=';')

dataset

,CD_RECEITA,CD_CATEGORIA,DESCRICAO_CATEGORIA,CD_ORIGEM,DESCRICAO_ORIGEM,CD_ESPECIE,DESCRICAO_ESPECIE,CD_RUBRICA,DESCRICAO_RUBRICA,CD_ALINEA,DESCRICAO_ALINEA,CD_SUBALINEA,DESCRICAO_SUBALINEA,CD_EXERCICIO,DT_APROPRIACAO,TP_RECEITA_ORC,CD_EMPRESA,NM_EMPRESA,VL_RECEITA,"DS_FONTE,,,"
0,6000030700000000000000,6,RECEITA EXTRA-ORÇAMENTÁRIA,0,NaN,0,NaN,0.0,NaN,3.0,NaN,7.0,NaN,2022,2022-08-31,Extra-Orçamentária,9,Fundo de Urbanização de Curitiba,"61852,58","Retenções em Carater Consignatório,,"
1,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"226,07","Taxas - Exercício Poder de Polícia,"
2,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"270,03","Taxas - Exercício Poder de Polícia,"
3,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"37,68","Taxas - Exercício Poder de Polícia,"
4,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"2143,55","Taxas - Exercício Poder de Polícia,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90074,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"143,75","Demais Impostos Vinculados à Educação Básica,"
90075,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"345,01","Recursos Ordinários (Livres),"
90076,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"251,38","Saúde - Receitas Vinculadas (EC 29/00 - 15%),"
90077,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"418,97","Demais Impostos Vinculados à Educação Básica,"
90078,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"1005,55","Recursos Ordinários (Livres),"

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90079 entries, 0 to 90078
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CD_RECEITA           90079 non-null  object
 1   CD_CATEGORIA         90079 non-null  int64
 2   DESCRICAO_CATEGORIA  90079 non-null  object
 3   CD_ORIGEM            90079 non-null  int64
 4   DESCRICAO_ORIGEM     80432 non-null  object
 5   CD_ESPECIE           90079 non-null  int64
 6   DESCRICAO_ESPECIE    80429 non-null  object
 7   CD_RUBRICA           8545 non-null   float64
 8   DESCRICAO_RUBRICA    0 non-null      float64
 9   CD_ALINEA            8545 non-null   float64
 10  DESCRICAO_ALINEA     0 non-null      float64
 11  CD_SUBALINEA         8545 non-null   float64
 12  DESCRICAO_SUBALINEA  0 non-null      float64
 13  CD_EXERCICIO         90079 non-null  int64
 14  DT_APROPRIACAO       90079 non-null  object
 15  TP_RECEITA_ORC       90079 non-null  object
 16  CD_EMPRESA           90079 non-null  int64
 17  NM_EMPRESA           90079 non-null  object
 18  VL_RECEITA           90079 non-null  object
 19  DS_FONTE,,,          90079 non-null  object
dtypes: float64(6), int64(5), object(9)
memory usage: 13.7+ MB

Como podemos ver, nas colunas DESCRICAO_RUBRICA, DESCRICAO_ALINEA e DESCRICAO_SUBALINEA, todos os valores estão nulos. Por isso, vamos dropar essas 3 colunas

In [ ]:
dataset = dataset.drop('DESCRICAO_RUBRICA', axis=1)

In [ ]:
dataset = dataset.drop('DESCRICAO_ALINEA', axis=1)

In [ ]:
dataset = dataset.drop('DESCRICAO_SUBALINEA', axis=1)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90079 entries, 0 to 90078
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CD_RECEITA           90079 non-null  object
 1   CD_CATEGORIA         90079 non-null  int64
 2   DESCRICAO_CATEGORIA  90079 non-null  object
 3   CD_ORIGEM            90079 non-null  int64
 4   DESCRICAO_ORIGEM     80432 non-null  object
 5   CD_ESPECIE           90079 non-null  int64
 6   DESCRICAO_ESPECIE    80429 non-null  object
 7   CD_RUBRICA           8545 non-null   float64
 8   CD_ALINEA            8545 non-null   float64
 9   CD_SUBALINEA         8545 non-null   float64
 10  CD_EXERCICIO         90079 non-null  int64
 11  DT_APROPRIACAO       90079 non-null  object
 12  TP_RECEITA_ORC       90079 non-null  object
 13  CD_EMPRESA           90079 non-null  int64
 14  NM_EMPRESA           90079 non-null  object
 15  VL_RECEITA           90079 non-null  object
 16  DS_FONTE,,,          90079 non-null  object
dtypes: float64(3), int64(5), object(9)
memory usage: 11.7+ MB

Agora, não temos mais colunas sem valores.

Vamos retirar o "CD_" no início do nome das colunas

In [ ]:
dataset.columns = dataset.columns.str.replace('CD_', '')
print(dataset.columns)

Index(['RECEITA', 'CATEGORIA', 'DESCRICAO_CATEGORIA', 'ORIGEM',
       'DESCRICAO_ORIGEM', 'ESPECIE', 'DESCRICAO_ESPECIE', 'RUBRICA', 'ALINEA',
       'SUBALINEA', 'EXERCICIO', 'DT_APROPRIACAO', 'TP_RECEITA_ORC', 'EMPRESA',
       'NM_EMPRESA', 'VL_RECEITA', 'DS_FONTE,,,'],
      dtype='object')

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90079 entries, 0 to 90078
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RECEITA              90079 non-null  object
 1   CATEGORIA            90079 non-null  int64
 2   DESCRICAO_CATEGORIA  90079 non-null  object
 3   ORIGEM               90079 non-null  int64
 4   DESCRICAO_ORIGEM     80432 non-null  object
 5   ESPECIE              90079 non-null  int64
 6   DESCRICAO_ESPECIE    80429 non-null  object
 7   RUBRICA              8545 non-null   float64
 8   ALINEA               8545 non-null   float64
 9   SUBALINEA            8545 non-null   float64
 10  EXERCICIO            90079 non-null  int64
 11  DT_APROPRIACAO       90079 non-null  object
 12  TP_RECEITA_ORC       90079 non-null  object
 13  EMPRESA              90079 non-null  int64
 14  NM_EMPRESA           90079 non-null  object
 15  VL_RECEITA           90079 non-null  object
 16  DS_FONTE,,,          90079 non-null  object
dtypes: float64(3), int64(5), object(9)
memory usage: 11.7+ MB

Existem muitas linhas com o valor NaN. Em análise do dataset, percebi que quando o código (antigo CD_) é 0, a descrição é nula, o que gera tantos NaN nas colunas, por isso, vou substituir os NaN em algumas colunas por "Vazio"

In [ ]:
dataset['DESCRICAO_ORIGEM'] = dataset['DESCRICAO_ORIGEM'].fillna("VAZIO")
dataset

,RECEITA,CATEGORIA,DESCRICAO_CATEGORIA,ORIGEM,DESCRICAO_ORIGEM,ESPECIE,DESCRICAO_ESPECIE,RUBRICA,ALINEA,SUBALINEA,EXERCICIO,DT_APROPRIACAO,TP_RECEITA_ORC,EMPRESA,NM_EMPRESA,VL_RECEITA,"DS_FONTE,,,"
0,6000030700000000000000,6,RECEITA EXTRA-ORÇAMENTÁRIA,0,VAZIO,0,NaN,0.0,3.0,7.0,2022,2022-08-31,Extra-Orçamentária,9,Fundo de Urbanização de Curitiba,"61852,58","Retenções em Carater Consignatório,,"
1,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"226,07","Taxas - Exercício Poder de Polícia,"
2,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"270,03","Taxas - Exercício Poder de Polícia,"
3,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"37,68","Taxas - Exercício Poder de Polícia,"
4,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,NaN,NaN,NaN,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"2143,55","Taxas - Exercício Poder de Polícia,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90074,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"143,75","Demais Impostos Vinculados à Educação Básica,"
90075,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"345,01","Recursos Ordinários (Livres),"
90076,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"251,38","Saúde - Receitas Vinculadas (EC 29/00 - 15%),"
90077,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"418,97","Demais Impostos Vinculados à Educação Básica,"
90078,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,NaN,NaN,NaN,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"1005,55","Recursos Ordinários (Livres),"

Em nova análise do dataset, percebemos que as colunas RUBRICA, ALINEA e SUBALINEA contém poucos valores e que não significam nada importante para o que vamos analisar, então vamos dropar elas também.

In [ ]:
dataset = dataset.drop('RUBRICA', axis=1)

In [ ]:
dataset = dataset.drop('ALINEA', axis=1)

In [ ]:
dataset = dataset.drop('SUBALINEA', axis=1)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90079 entries, 0 to 90078
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   RECEITA              90079 non-null  object
 1   CATEGORIA            90079 non-null  int64
 2   DESCRICAO_CATEGORIA  90079 non-null  object
 3   ORIGEM               90079 non-null  int64
 4   DESCRICAO_ORIGEM     90079 non-null  object
 5   ESPECIE              90079 non-null  int64
 6   DESCRICAO_ESPECIE    80429 non-null  object
 7   EXERCICIO            90079 non-null  int64
 8   DT_APROPRIACAO       90079 non-null  object
 9   TP_RECEITA_ORC       90079 non-null  object
 10  EMPRESA              90079 non-null  int64
 11  NM_EMPRESA           90079 non-null  object
 12  VL_RECEITA           90079 non-null  object
 13  DS_FONTE,,,          90079 non-null  object
dtypes: int64(5), object(9)
memory usage: 9.6+ MB

Pronto, agora que foram retiradas a maioria das colunas que não tinham diferença, podemos dropar os valores não nulos que restaram

In [ ]:
dataset = dataset.dropna()
dataset

,RECEITA,CATEGORIA,DESCRICAO_CATEGORIA,ORIGEM,DESCRICAO_ORIGEM,ESPECIE,DESCRICAO_ESPECIE,EXERCICIO,DT_APROPRIACAO,TP_RECEITA_ORC,EMPRESA,NM_EMPRESA,VL_RECEITA,"DS_FONTE,,,"
1,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"226,07","Taxas - Exercício Poder de Polícia,"
2,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"270,03","Taxas - Exercício Poder de Polícia,"
3,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"37,68","Taxas - Exercício Poder de Polícia,"
4,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"2143,55","Taxas - Exercício Poder de Polícia,"
5,1121040101000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",2,TAXAS,2022,2022-09-23,Orçamentária,1,Prefeitura Municipal de Curitiba,"364,22","Taxas - Exercício Poder de Polícia,"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90074,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"143,75","Demais Impostos Vinculados à Educação Básica,"
90075,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"345,01","Recursos Ordinários (Livres),"
90076,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"251,38","Saúde - Receitas Vinculadas (EC 29/00 - 15%),"
90077,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"418,97","Demais Impostos Vinculados à Educação Básica,"
90078,1112500402000000000000,1,Receitas Correntes,1,"Impostos,Taxas e Contribuições de Melhoria",1,IMPOSTOS,2022,2022-08-18,Orçamentária,1,Prefeitura Municipal de Curitiba,"1005,55","Recursos Ordinários (Livres),"

Cerca de 10 mil linhas foram excluídas, mas agora todas linhas contém todas informações, só precisamos organizar.

In [ ]:
dataset['CATEGORIA'].unique()

array([1, 2, 7])

Sabemos agora que existem 3 categorias na coluna de CATEGORIA

Exportando DataSet limpo

In [19]:
dataset.to_csv("dataset_limpo.csv", encoding = 'utf-8')